body {
  background-color: #fce8fc; 
  font-family: Arial, sans-serif; 
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 300px;
  padding: 20px;
  margin: 10px;
  border: 2px solid #f7a8c1; 
  border-radius: 15px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.welcome {
  text-align: center;
  color: #be7ec0; 
  font-size: 3em; 
  margin-bottom: 20px;
}

.main {
  background-color: #fff; 
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h2 {
  color: #be7ec0; 
  font-size: 24px; 
  margin-bottom: 10px;
}

p, h4 {
  color: #666;
}

h4 {
  font-size: 18px;
  margin-top: 5px;
}

.data {
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 50px; 
  max-width: 800px; 
}

.video-container {
  text-align: center; 
  margin-top: 50px;
}

.card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

button {
  background-color: transparent; 
  border: none; 
  cursor: pointer;
  margin-right: 10px; 
}

button img {
  width: 30px; 
  height: 30px;
}

button:hover img {
  transform: scale(1.1); 
}
#username {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer; 
  width: 200px; 
}
