/* body{
  background-color: #be7ec0;
} */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.card {
  width: 300px; 
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.welcome {
  text-align: center;
  color: #333; 
  font-size: 4em;
  margin-bottom: 20px;
}

.main {
  background-color: #f4f4f4; 
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  color: #be7ec0; 
  font-size: 22px;
  margin-bottom: 10px;
}

p, h4 {
  color: #666;
}

h4 {
  font-size: 18px;
  margin-top: 5px;
}

.data {
  margin-left: 550px;
  margin-top: 10%;
}
.video-container{
  margin-left: 30%;
  margin-top: 5%;
}